.a-btn
{
	background:#80a9da;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
    background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    border:1px solid #5d81ab;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    clear:both;
    display:inline-block;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0);
    height:38px;
    margin:10px 0px;
    overflow:hidden;
    padding-left:20px;
    padding-right:30px;
    position:relative;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-text
{
	color:#446388;
	display:block;
    font-size:25px;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
    white-space:nowrap;
    font-family: 'Roboto Condensed', sans-serif;
}
.a-btn-slide-text
{
	background:#63707e;
	color:#fff;
	-webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
	font-family: 'Roboto Condensed', sans-serif;
    font-size:25px;
	height:100%;
	line-height:38px;
	overflow:hidden;
    position:absolute;
    right:20px;
    text-align:left;
    text-indent:10px;
    text-shadow:0px -1px 1px #363f49;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
    top: 0px;
    white-space:nowrap;
    width:0px;  
}
.a-btn-icon-right
{
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    height:100%;
    position:absolute;
    right:0px;
    top:0px;
    width:20px;
}
.a-btn-icon-right span
{   
    height:38px;
    left:50%;
    margin:-20px 0px 0px -20px;
    opacity:0.7;
    position:absolute;
    top:50%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
    width:32px;
}
.a-btn:hover
{
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    padding-right:180px;
    text-decoration: none;
}
.a-btn:hover .a-btn-text
{
	color:#fff;
    text-shadow:0px 1px 1px #5d81ab;
    font-family: 'Roboto Condensed', sans-serif;
}
.a-btn:hover .a-btn-slide-text
{
    width:285px;
    font-family: 'Roboto Condensed', sans-serif;
}
.a-btn:hover .a-btn-icon-right span
{
    opacity:1;
}
.a-btn:active
{
	background:#5d81ab;
	border-color:#80a9da;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset; 
    position:relative;
    top:1px;
}	
a:link 
{
    text-decoration: none;
}
a:visited 
{
    text-decoration: none;
}
p
{
	line-height: 30px;
}
p#patate
{
	color:white;
}
.p-text
{
    color:#4688D4;
    font-family: 'Roboto Condensed', sans-serif;
    background: rgba(100, 100, 100, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 1.5px;
    word-spacing: 4px;
}
* 
{
    border: 0;
    padding: 0;
    margin: 0;
}
body 
{
    text-align: center;
    background-image: url("fond_back.png");
    background-repeat: repeat;
}
.jumbotron 
{
    background-image: url("fond_head.png");
    text-align: center;
    border-bottom: 5px solid #4688D4;
}
#header h1, #header h3 
{
    color: #ABABAB;
    font-family: 'Roboto Condensed', sans-serif;
}
#header h1 
{
    font-size: 110px;
}
#header h3 
{
    font-size: 20px;
    margin-top: -10px;
}