.a-btn
{
    background:#9cedef;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#b7f2f4,0),color-stop(#7ce7ea,1));
    background:-webkit-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:-moz-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:-o-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    border:1px solid #90c6c8;
    border-color:#90c6c8 #78bdc0 #65b6ba;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    display:inline-block;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7f2f4', endColorstr='#7ce7ea',GradientType=0); 
    height:58px;
    margin:10px;
    overflow:hidden;
    padding:20px 30px 0 70px;
    position:relative;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-symbol
{
    color:#437b7d;
    left:10px;
    position:absolute;
    margin-top: -10px;
    text-shadow:0 1px 0 #bef3f5;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
    transform-origin: 49% 49%;
}
.a-btn-text
{
    color:#437b7d;
    display:block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:26px;
    font-weight:bold;
    line-height:5px;
    text-shadow:0 1px 0 #bef3f5;
}          
.a-btn-slide-text
{
    color:#555;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:17px;
    letter-spacing:1px;
    text-shadow:0px 1px 1px rgba(255,255,255,0.9);
}
.a-btn:hover
{
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    text-decoration: none;
}
.a-btn:hover .a-btn-symbol
{
    opacity:0.5;
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -o-transform:rotate(720deg);
    transform:rotate(720deg);
}
.a-btn:active
{
    -webkit-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    -moz-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
}   
a:link 
{
    text-decoration: none;
}
a:visited 
{
    text-decoration: none;
}
p
{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
    color:#437b7d;
}
a#bouton2, a#bouton3, a#bouton4, p#NonConnecte, p#shortpath, canvas#springyMST
{
    display:none;
}
.p-text
{
    color:#437b7d;
}
* 
{
    border: 0;
    padding: 0;
    margin: 0;
}
body 
{
    text-align: center;
    background-image: url("fond_back.png");
    background-repeat: repeat;
}
.jumbotron 
{
    background-image: url("fond_head.png");
    text-align: center;
    border-bottom: 7px solid #65CFD6;
}
#header p 
{
    color: #65CFD6;
    font-family: 'Roboto Condensed', sans-serif;
}
#header input 
{
    color: black;
    font-size: 14px;
}
input[type="text"] 
{
    border: 1px solid #AAAAAA;
}
#InfosShortestPath 
{
    font-size: 24px;
    text-align: left;
}
#NonConnecte 
{
    font-size: 24px;
}